

body
{
    background: url('../images/41.jpg') top right no-repeat;
    background-attachment: fixed;
}

div#content-wrapper
{
    width: 85%;
    margin: 0 auto;

    /*border: 1px solid black;*/
    background: rgba(255,255,255,0.6);
}


header h2#logo-text
{
    color: white;
}

footer a
{
    color: black;
}


#redirect{
	position: absolute;
	right: 32px;
	top: 32px;
}

.btn-redirect{
	opacity: 0.6;
	color:rgb(52, 73, 94);
	background-color: rgba(236, 240, 241,0.6);
	line-height: 8px;
	height: 32px;
	padding: 6px 12px;
	border: 1px rgba(155, 89, 182,0.6) dashed;
	outline:none;
	font-size: 13px;
}

.btn-redirect:hover{
	opacity: 1;
	color:rgb(52, 73, 94);
	border: 1px rgba(155, 89, 182,1.0) solid;
}
